body {
	background-color: #232323;
	margin: 0;
	font-family: Avenir;
    size: 100%;
    min-height: 100%
}
h1 {
	color: white;
	background-color: steelblue;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-size:25px;
}

button {
	border: none;
	background: none;
	height: 100%;
    padding: 0.3%;
	text-transform: uppercase;
	font-weight: bold;
	font-size: inherit;
	color: steelblue;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	--moz-transition: all 0.3s;
}

button:hover{
	color: white;
	background-color: steelblue;
}
button:focus{
	outline: none;
}

.square{
	width:30%;
	padding-bottom: 30%;
	float: left;
	background-color: white;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 0.5s;
	--webkit-transition: background 0.5s;
	--moz-transition: background 0.5s;
}

#feedback{
	color: white;
	padding-top: 0.3%;
}

#message {
	text-align: center;
	border: none;
	padding-top: 0.5%
}

#rgbcolour{
	font-weight: bold;
	font-size: 65px;
}

#navbar{
	border: none;
	background-color: white;
	text-align: center;
}

#container {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 0.5%
}

#footer {
    clear: both;
    text-align: center;
    font-size: 12px;
    color: dimgrey;
    position: relative;
    padding-top: 2%
}

@-webkit-keyframes pulsate {
    0% {
        color: #333;
        background: #fff
    }

    7% {
        color: #0c85ff;
        background: #001F3F
    }

    14% {
        color: #40a9ff;
        background: #0074D9
    }

    21% {
        color: #00a8e5;
        background: #7FDBFF
    }

    28% {
        color: #165656;
        background: #39CCCC
    }

    35% {
        color: #112c20;
        background: #3D9970
    }

    42% {
        color: #124f18;
        background: #2ECC40
    }

    49% {
        color: #00672d;
        background: #01FF70
    }

    56% {
        color: #665700;
        background: #FFDC00
    }

    63% {
        color: #ffd6b4;
        background: #FF851B
    }

    70% {
        color: #ffd1cf;
        background: #FF4136
    }

    77% {
        color: #e44e99;
        background: #85144B
    }

    84% {
        color: #f9a2e6;
        background: #F012BE
    }

    91% {
        color: #e679f6;
        background: #B10DC9
    }

    95% {
        color: #5e5e5e;
        background: #111
    }

    96% {
        color: #919191;
        background: #ddd
    }

    98% {
        color: #5d5d5d;
        background: #aaa
    }

    100% {
        color: #b3b3b3;
        background: #fff
    }
}

.pulsate-bg {
    -webkit-animation: pulsate 100s linear infinite;
    animation: pulsate 100s linear infinite;
}